* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Arial', sans-serif;
    color: #DDDDDD;
    margin-right: 200px;
}

div.search-container {
    position: absolute;
    top: 15px;
    right: 200px;
}

input.searchA {
    padding: 5px;
    height: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    opacity: 0.6;
    margin-right: 10px;
    width: 200px;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    border: solid;
    border-radius: 5px;
}

/*button style*/
button {
    min-width: 150px;
    padding: 10px 5px;
    border-width: 2px;
    border-style: solid;
    letter-spacing: 2px;
    font: 20px bold;
    font-family: sans-serif;
    border-radius: 5px;
    background: transparent;
    transition: 0.2s;
    cursor: pointer;
}

button.setting_button {
    margin-right: 350px;
}

button.setting_button,
button.profile_button,
button.home_button {
    color: white;
    background: rgba(0, 0, 0, 0.2);
}


input[type:"text"]:hover,
input[type:"text"]:focus,
input[type:"text"]:activate {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}


button:hover,
button:focus,
button:active {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

button.keluar_button {
    opacity: 0.6;
    background-color: black;
    color: white;
    border-color: black;
    font-weight: 500;
}

button.keluar_button:hover,
button.keluar_button:focus,
button.keluar_button:active {
    opacity: 0.8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

button.tambahkan_button {
    position: absolute;
    min-width: 50px;
    width: 200px;
    position: absolute;
    top: 130px;
    right: 580px;
    opacity: 0.6;
    text-align: center;
    background-color: black;
    color: white;
    border-color: black;
    font-weight: 300;
    font-size: 12px;
}

button.tambahkan_button:hover,
button.tambahkan_button:focus,
button.tambahkan_button:active {
    opacity: 0.8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}


/* Header */
header {
    background: hsla(0, 0%, 78%, 0.6);
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: right;
}

header a {
    text-shadow: -1px 0 rgba(255, 225, 255, 0.6), 0 1px rgba(255, 225, 255, 0.6);
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    margin-right: 10px;
}

/*Content*/
img {
    margin-top: 50px;
    margin-left: 33%;
    float: inherit;
}
